body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #6C63FF;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 20px 40px;
}

h2 {
    color: #6C63FF;
}

ul {
    list-style-type: square;
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 30px;
}